.card {
  background-color: transparent;
  height: 220px;
  width: 325px;
  margin: .5%;
  position: relative;
  text-align: left;
}

.card > .img-container {
  overflow: hidden;
  text-align: center;
}
.card > .img-container > img {
  width: 80%;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}






