.header {
  width: 100%;
  font-size: 4.5vh;
  color: white;
  margin-top: 15%;
  margin-bottom: 10%;
  padding-left: 2%;
  padding-right: 2%;
}

.title {
  font-weight: bold;
  color: palevioletred;
  text-align: center;
}

.scores {
  text-align: center;
  font-size: 4vh;
}

.digit {
  color: palevioletred;
}