.header {
  width: 100%;
  font-size: 2rem;
  color: white;
  margin-top: .25%;
  margin-bottom: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
}

.title {
  float: left;
}

.scores {
  float: right;
}
