.wrapper {
  padding-top: 2%;
  background-color:rgb(0,0,0);
  background-image:url(http://www.zingerbugimages.com/backgrounds/multi_colored_stars.gif);
  background-position:top left;
  background-repeat:repeat;
  background-attachment:fixed;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-left: 7.5%;
  padding-right: 7.5%;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
